body{
  margin-bottom: 1000px;
  font-family: Montaga, Arial;
  background-color: rgb(254, 223, 255);
}
.nav-bar{
  background-color: lightblue;
  padding: 30px;
  display: flex;
}

.contents{
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  column-gap: 20px;
}
.content-1{
  background-color: lightpink;
}

.content-2{
  background-color: lightblue;
}

.recent-blogs{
  background-color:  rgb(207, 36, 36);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 56px;
  color: white;
  font-weight: 800;
  font-size: 34px;
  border-width: 5px;
  cursor: pointer;
  border-color: rgb(255, 123, 123);
  border-style: solid;
  margin: 20px;
  padding: 20px;
  letter-spacing: 2px;
  word-spacing: 6px;
}

.recent-blogs:hover{
  background-color: white;
  color: rgb(207, 36, 36);
  border-color:  rgb(207, 36, 36);
}

.all-blogs , .other-blogs{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex: 1,1, 1 ;
  column-gap: 20px;
  justify-content: space-between;
  height: 500px;
  row-gap: 20px;
}
  .total-blogs{
  border-width: 2px;
  border-radius: 8px;
  border-color: black;
  border-style: solid;
}
.blog-1 , .blog-3 , .blog-5 {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.blog-2 , .blog-4 , .blog-6 {
  background-color: lightpink;
  display: flex;
  flex-direction: row;
  flex: 1;
}
